* {
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
hr {
    color: slategray;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

/* header */
.hr__head {
    margin-top: 30px;
}
.logo {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.logo li a {
    color: grey;
    font-size: 30px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.logo li a:hover {
    color: slategray;
    border-radius: 5px;
}
.menu {
    display: flex;
    margin: 25px 0;
    align-items: center;
    justify-content: space-between;
}
.nav {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.nav li a {
    font-size: 20px;
    padding: 10px 20px;
    color: slategrey;
    text-decoration: none;
    text-transform: uppercase;
}
.nav li a:hover {
    color: black;
    border-radius: 5px;
    background-color: teal;
}

/* about */
.about {
    margin-top: 50px;
}
h2 {
    color: teal;
    display: flex;
    padding: 20px 0 20px 0;
    justify-content: center;
}
.photo {
    display: flex;
    justify-content: center;
}
img {
    border: 1px solid black;
}
.example {
    color: grey;
    display: flex;
    font-size: 20px;
    padding: 30px 0 15px 0;
    justify-content: center;
    margin: 0 290px 0 290px;
    border-bottom: 2px solid grey;
}

/* footer */ 
.under__info {
    margin-top: 100px;
}
footer {
    display: flex;
    justify-content: space-around;
}
.footer {
    color: grey;
    font-size: 20px;
}
.f__logo {
    color: grey;
    font-size: 20px;
}
.year {
    color: teal;
}