* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;
}
hr {
    color: slategray;
}
.wrapper {
    width: 1440px;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

/* menu bar */
header {
    top: 0;
    width: 100%;
    position: fixed;
}
.menu {
    display: flex;
    margin: 25px 0;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    list-style: none;
}
.logo li a {
    color: grey;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px 10px 50px;
}
.logo li a:hover {
    color: slategray;
    border-radius: 5px;
}
.nav {
    display: flex;
    list-style: none;
    padding-right: 30px;
}
.nav li a {
    font-size: 20px;
    padding: 10px 20px;
    color: slategrey;
    text-decoration: none;
    text-transform: uppercase;
}
.nav li a:hover {
    color: black;
    border-radius: 5px;
    background-color: teal;
}

/* contacts */
main {
    flex: 1 1 auto;
    margin-top: 150px;
    padding: 0 0 0 120px;
}
h2 {
    color: teal;
    font-size: 25px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
p {
    color: grey;
    font-size: 20px;
    padding-top: 5px;
}
main a {
    margin-top: 0;
    color: teal;
    text-decoration: none;
    text-transform: uppercase;
}
.email {
    color: teal;
}

/* footer */
.info {
    display: flex;
    padding: 30px 0;
    justify-content: space-around;
}
.footer_info, .footer_logo {
    color: grey;
    font-size: 20px;
}
.year {
    color: teal;
}