* {
    box-sizing: border-box;
    background-color: whitesmoke;
}
hr {
    color: slategray;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

/* header */
.hr__head {
    margin-top: 30px;
}
.logo {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.logo li a {
    text-transform: uppercase;
    color: grey;
    font-size: 30px;
    text-decoration: none;
    padding: 10px 20px;
}
.logo li a:hover {
    color: slategray;
    border-radius: 5px;
}
.menu {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav li a {
    text-transform: uppercase;
    color: slategrey;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
}
.nav li a:hover {
    background-color: teal;
    color: black;
    border-radius: 5px;
}

/* info */
.bio {
    padding: 150px 100px 150px 100px;
    max-width: 800px;
}
.me {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.name {
    font-family: Arial, Helvetica, sans-serif;
    color: teal;
}
.dev {
    font-family: Arial, Helvetica, sans-serif;
    color: teal;
}
p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* footer */ 
.under__info {
    margin-top: 50px;
}
footer {
    display: flex;
    justify-content: space-around;
}
.footer {
    color: grey;
    font-size: 20px;
}
.f__logo {
    color: grey;
    font-size: 20px;
}
.year {
    color: teal;
}