* {
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
hr {
    color: slategray;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

/* header */
.hr__head {
    margin-top: 30px;
}
.logo {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.logo li a {
    color: grey;
    font-size: 30px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.logo li a:hover {
    color: slategray;
    border-radius: 5px;
}
.menu {
    display: flex;
    margin: 25px 0;
    align-items: center;
    justify-content: space-between;
}
.nav {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.nav li a {
    font-size: 20px;
    padding: 10px 20px;
    color: slategrey;
    text-decoration: none;
    text-transform: uppercase;
}
.nav li a:hover {
    color: black;
    border-radius: 5px;
    background-color: teal;
}

/* info */
.bio {
    max-width: 800px;
    margin-top: 100px;
    padding: 0 150px 0 150px;
}
.me {
    color: grey;
    font-size: 25px;
}
.name {
    color: teal;
}
.dev {
    color: teal;
}
p {
    font-size: 20px;
}

/* footer */ 
.under__info {
    margin-top: 100px;
}
footer {
    display: flex;
    justify-content: space-around;
}
.footer {
    color: grey;
    font-size: 20px;
}
.f__logo {
    color: grey;
    font-size: 20px;
}
.year {
    color: teal;
}