* {
    box-sizing: border-box;
    background-color: whitesmoke;
}
hr {
    color: slategray;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

/* header */
.hr__head {
    margin-top: 30px;
}
.logo {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.logo li a {
    text-transform: uppercase;
    color: grey;
    font-size: 30px;
    text-decoration: none;
    padding: 10px 20px;
}
.logo li a:hover {
    color: slategray;
    border-radius: 5px;
}
.menu {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav li a {
    text-transform: uppercase;
    color: slategrey;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
}
.nav li a:hover {
    background-color: teal;
    color: black;
    border-radius: 5px;
}

/* info */

.frontend {
    display: flex;
    margin-top: 50px;
}
.photo {
    max-height: 348px;
    border: 2px solid black;
}
.info {
    padding: 0 25px 0 25px;
}
h2 {
    display: flex;
    justify-content: center;
    color: black;
    background-color: teal;
    border: 1px solid grey;
}
p {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 17.5px;
}
.html {
    display: flex;
    margin-top: 50px;
}
.css {
    display: flex;
    margin-top: 50px;
}
.js {
    display: flex;
    margin-top: 50px;
}
.under__info {
    margin-top: 50px;
}
footer {
    display: flex;
    justify-content: space-around;
}
.footer {
    font-size: 20px;
}
.f__logo {
    font-size: 20px;
}